<!DOCTYPE html>

<html>
  <head>
    <title>Another way to use react isomorphicly</title>
    <link href='/style.css' rel='stylesheet'>
  </head>
  <body>
    <h1 id='main-title'>React Iso Griddle</h1>
    <div id='react-main-mount'>
      <%- reactOutput %>
    </div>
  </body>
</html>
